@font-face {
    font-family: 'Scriptin';
    src: url(../fonts/scriptin.ttf) format('truetype');
}

@font-face {
    font-family: 'Playfair Display Bold';
    src: url(../fonts/playfairdisplay-bold.ttf) format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'Playfair Display Regular';
    src: url(../fonts/playfairdisplay-regular.ttf) format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'Lora Regular';
    src: url(../fonts/Lora-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Lora Bold';
    src: url(../fonts/Lora-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'Proxima Nova';
    src: url(../fonts/proximanova-regular.otf) format('opentype');
}

@font-face {
    font-family: 'Alexandra Zeferino One';
    src: url(../fonts/alexandra_zeferino_one.ttf) format('truetype');
}

* {
	box-sizing: border-box;
}
html, body {
	max-width: 100%;
	overflow-x: hidden;
}
h1, h2, h3, h4, h5, h6, p, span {
	cursor: default;
}
button {
	border:none;
    background-image:none;
    background-color:transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    margin: 0;
    padding: 0;
    outline: none;
    cursor: pointer;
}
/* header */
header {
	background-image: url("../img/header-bg.jpg");
	background-position: center;
	background-repeat: no-repeat;
	height: 100vh;
	background-size: cover;
	color: white;
	letter-spacing: 3px;
}
.navbar {
	background-color: rgba(86, 83, 76, 0.53);
	height: auto;
}
.navbar a {
	color: white;
	transition: all 0.2s ease-in-out;
}
.navbar a:hover, .navbar a:active {
	opacity: 0.7;
}
.navbar .navbar-brand { 
	font-family: 'Scriptin';
	font-size: 25px;
}
.navbar .navbar-toggler {
	outline: none;
	cursor: pointer;
	opacity: 1;
	-webkit-transition: opacity 0.15s cubic-bezier(0.645, 0.045, 0.355, 1);
	transition: opacity 0.15s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.navbar .navbar-toggler:hover {
	-webkit-transition: opacity 0.15s cubic-bezier(0.645, 0.045, 0.355, 1);
	transition: opacity 0.15s cubic-bezier(0.645, 0.045, 0.355, 1);
	opacity: 0.7;
}
.navbar .navbar-toggler-icon {
	width: 17px;
	height: 13px;
}
header .navbar .navbar-toggler-icon .hamburger-inner, header .navbar .navbar-toggler-icon .hamburger-inner:before, header .navbar .navbar-toggler-icon .hamburger-inner:after {
	background-color: #fff;
}
.hamburger-box .hamburger-inner, .hamburger-box .hamburger-inner:before, .hamburger-box .hamburger-inner:after {
	width: 30px;
	height: 1px;
}

.navbar .navbar-nav {
	font-family: 'Lora Regular';
	text-transform: uppercase;
	font-size: 0.8rem;
}
header .main-head {
	/*padding-top: 15vh;*/
	height: calc(100vh - 70px);
}
header .main-head #with-love {
	font-family: 'Playfair Display Bold';
	font-size: 7vw;
	padding: 0px 0px 6vh 0px;
}
header .main-head .cant-resist {
	font-family: 'Proxima Nova';
	font-size: 1.1em;
	letter-spacing: 2px;
	padding-bottom: 6vh;
	display: block;
}
header .main-head .our-menu {
	background-color: rgba(86, 83, 76, 0.53);
	width: 200px;
	height: 50px;
	color: white;
	border: 1px dashed #9e9c93;
	font-family: 'Lora Bold';
	font-size: 0.7rem;
	letter-spacing: 3px;
	text-transform: uppercase;
	outline: none;
	transition: all 0.2s ease-in-out;
	display: block;
	line-height: 50px;
	text-decoration: none;
}
header .main-head .our-menu:hover {
	background-color: rgba(86, 83, 76, 0.66);
}

/* Medium devices (tablets, 768px and up)*/
/*collapse menu height fix*/
@media screen and (min-width: 768px) { 
	header .navbar {
		height: 70px;
	}
	header .main-head #with-love {
		font-size: 4rem;
	}
 }
 @media screen and (max-width: 768px) {
	.navbar .navbar-nav {
		margin-top: 1em;
		margin-bottom: 1em;
	}
 }
.divider {
	position: relative;
	width: 100%;
	height: 10px;
	box-shadow: 0px 8px 9px 0px rgba(0, 0, 0, 0.05); 
	z-index: 2;
}
.divider .vector-bread {
	position: absolute;
	top: calc(-4vw - -5px);
	left: 46vw;
	background-image: url("../img/vector-bread.png");
	background-size: cover;
	width: 8vw;
	height: 8vw;
	max-width: 106px;
	max-height: 106px;
	z-index: 3;
}
/* Main page content */
.main-page {
	width: 100%;
	color: #56534c;
}
.main-page .title {
	font-family: 'Lora Bold';
	font-size: 2.3rem;
}
.main-page .afterword {
	font-family: 'Lora Bold';
	font-size: 1rem;
	color: #a47d5e;
	text-transform: uppercase;
}
.main-page p {
	font-family: 'Proxima Nova';
	font-size: 0.85rem;
	padding-top: 40px;
	padding-bottom: 1.6rem;
	margin-bottom: 0;
}
.main-page .subtitle {
	font-family: 'Lora Bold';
	font-size: 1.1em;
}
/*Art of cakes*/
.main-page .art-of-cakes {
	background-image: url("../img/img-texture.png");
	padding: 4rem 0;
}

.main-page .art-of-cakes .chef-cook-block .chef-cook-avatar {
	font-family: 'Lora Regular';
	font-size: 1.1rem;
	margin-top: 1.6rem;
}
.main-page .art-of-cakes .chef-cook-block .chef-cook-avatar .name {
	display: inline-block;
	border-top: 1px solid #d7d5ca;
	border-bottom: 1px solid #d7d5ca;
	height: 50px;
	line-height: 50px;
	padding: 0px;
}
.main-page .art-of-cakes .chef-cook-block .chef-cook-avatar .avatar {
	background-image: url("../img/chef-cook.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	border: 5px solid white;
	border-radius: 100%;
	height: 10vw;
	width: 100%;
	padding: 0;
}

.main-page .art-of-cakes .chef-cook-block .quote {
	margin-top: 40px;
}

.main-page .art-of-cakes .chef-cook-block .quote .text {
	font-family: 'Alexandra Zeferino One';
	font-size: 1.9rem;
	line-height: 23px;
}

.main-page .art-of-cakes .chef-cook-block .quote span {
	font-family: 'Times New Roman';
	font-size: 2.7rem;
	color: rgba(86, 83, 76, 0.5);
	display: inline-block;
	height: auto;
	padding: 0 15px;
}

@media screen and (min-width: 768px) {
	.main-page .section {
		height: 750px;
	} 
	
	.main-page .art-of-cakes {
		height: 600px;
	}
}
@media screen and (max-width: 767px) {
	.divider .vector-bread {
		width: 80px;
		height: 80px;
		left: calc(50vw - 45px);
		top: -35px;
	}
	.main-page .art-of-cakes .chef-cook-block .chef-cook-avatar .avatar {
		height: 65px;
	}
}
 /*Perfect pancakes*/
 .main-page .perfect-pancakes {
 	background-image: url("../img/perfect-pancakes-bg.jpg");
 	background-repeat: no-repeat;
 	background-size: cover;
 	padding: 4rem 0;
 }
 .main-page .perfect-pancakes .food-widget {
 	position: relative;
 	box-shadow: 0px 25px 54px rgba(105, 80, 58, 0.55);
 	padding: 0;
 }
 .main-page .perfect-pancakes .photo-container {
 	position: relative;
 	z-index: 10;
 	min-height: 150px;
 }
 .main-page .perfect-pancakes .photo-container .photo {
 	object-fit: cover;
 	object-position: 70%;
 	width: 100%;
 	height: 100%;
 	min-height: 150px;
 }
 .main-page .perfect-pancakes .description {
 	background-color: white;
 	flex-direction: column;
 }
  .main-page .perfect-pancakes .description .text {
  	z-index: 2;
  	padding-bottom: 0.9rem;
  	width: 100%;
  }
  .main-page .perfect-pancakes .description .rating .star {
  	width: 10px;
  	height: 10px;
  	margin-right: 5px;
  	border-radius: 50%;
  }
  .main-page .perfect-pancakes .description .rating .star.fill path {
  	fill: #c9b176;
  }
  /*carousel*/
  #myCarousel {
  	z-index: 3;
  }
  .carousel .carousel-bullets {
  	list-style: none;
  	position: initial;
  	margin-top: 15px;
  }
  .carousel .carousel-bullets li {
	border: 4px solid #d8bba3;
	width: 0.1px;
	height: 0.1px;
	border-radius: 50%;
	display: inline-block;
  }
  .carousel .carousel-bullets li.active {
  	border: 1px solid #d8bba3;
	width: 8px;
	height: 8px;
  }
  .main-page .perfect-pancakes .description #myCarousel .slides {
  	z-index: 2;
  	display:  flex;
  	align-items: center;
  	justify-content: space-between;
  	margin-top: 2rem;
  }
  .main-page .perfect-pancakes .description #myCarousel .slides .arrow svg, .main-page .perfect-pancakes .description #myCarousel .slides .arrow {
  	width: 32px;
  	height: 32px;
  }
  .main-page .perfect-pancakes .description #myCarousel .slides .arrow svg path {
  	transition: all 0.2s ease-in-out;
  }
  .main-page .perfect-pancakes .description #myCarousel .slides .arrow:hover svg path {
  	fill: #56534c;
  }
  .main-page .perfect-pancakes .description #myCarousel .slides .carousel-item {
  	justify-content: space-around;
  	height: 7.4vw;
  }
  .main-page .perfect-pancakes .description #myCarousel .slides .carousel-item img {
	display: inline-block;
	border-radius: 50%;
	/* max-height: 90px; */
	height: 6.5vw;
	width: 30%;
	object-fit: cover;
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	cursor: pointer;
  }
  .main-page .perfect-pancakes .description #myCarousel .slides .carousel-item img:hover {
  	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  }
  .main-page .perfect-pancakes .description #myCarousel .slides .carousel-item img.selected {
	/*border: 3px solid #d8bba3;*/
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  }
 .main-page .ready-in {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 30%;
	right: -15%;
	top: -10%;
	background-image: url("../img/bg-ready.png");
	background-size: cover;
	box-shadow: 0px 25px 54px 0px rgba(105, 80, 58, 0.2);
	font-family: 'Lora Bold';
	text-transform: uppercase;
	color: #a47d5e;
	line-height: 3.5vw;
	text-align: center;
	letter-spacing: 1px;
	padding: 3%;
	z-index: 10;
	font-size: 1.1vw;
	}
 .main-page .ready-in .mins {
 	text-transform: lowercase;
 	color: #979285;
 	font-size: 0.8rem;
 }
 .main-page .ready-in .amount {
 	font-family: 'Playfair Display Bold';
 	color: #dfc691;
 	font-size: 5vw;
 	margin-top: -0.3rem;
 }

  .main-page .perfect-pancakes .description:after {
  	content: "";
  	position: absolute;
  	background-image: url("../img/bg-windmill.png");
  	background-repeat: no-repeat;
  	background-size: 80%;
  	bottom: 0;
  	right: -12%;
  	width: 60%;
  	height: 61%;
  }

 @media screen and (min-width: 1200px) {
	 .main-page .perfect-pancakes .description .ready-in {
	 	padding: 0 1rem;
	 }
}
@media screen and (max-width: 767px) {
	 .main-page .perfect-pancakes .description .ready-in {
	 	right: 0px;
	 	top: -20px;
	 	box-shadow: 0px 0px 54px 0px rgba(105, 80, 58, 0.2);
	 }
	  .main-page .ready-in {
	  	font-size: 2.3vw;
	  	line-height: 5.3vw;
	  }
	  .main-page .ready-in .mins {
	  	font-size: 2.3vw;
	  }
	  #myCarousel, .main-page .perfect-pancakes .description .rating {
	  	padding: 0rem 2rem;
	  }
	  .main-page .perfect-pancakes .description #myCarousel .slides {
	  	margin-top: 0.5rem;
	  }
	  .main-page .perfect-pancakes .description #myCarousel .slides .carousel-item {
		height: auto;
		}
	  .main-page .perfect-pancakes .description #myCarousel .slides .carousel-item img {
	  	height: 13vw;
		width: 13vw;
	  }
	  .main-page .perfect-pancakes .description #myCarousel .slides .arrow svg, .main-page .perfect-pancakes .description #myCarousel .slides .arrow{
	  	width: 44px;
	  	height: 44px;
	  }
	  .main-page .perfect-pancakes .description {
	  	padding: 0;
	  	margin: 0;
	  }
	  .main-page .perfect-pancakes .description .text {
	  	padding: 2rem 2rem 0rem 2rem;
	  }
}
/*Breakfast*/
.main-page .breakfast {
	background-image: url("../img/breakfast-bg.jpg");
	background-size: cover;
	background-position: center;
	padding: 4rem 0;
}
.main-page .breakfast .left .text-block {
	margin-bottom: 2rem;
}
.main-page .breakfast .left .text-block:last-child {
	margin-bottom: 0;
}
.main-page .breakfast .left .text-block .title {
	font-size: 2.9rem;
	color: white;
	line-height: 2rem;
	letter-spacing: 2px;
}
.main-page .breakfast .left .text-block .afterword {
	color: #c8a593;
}
.main-page .breakfast .left .text-block .subtitle {
	color: white;
	font-size: 1.2rem;
}
.main-page .breakfast .left .text-block .breakfast-description {
	color: #c2beba;
	font-size: 0.9rem;
	font-family: 'Proxima Nova';
	letter-spacing: 1px;
}
.main-page .breakfast .left .text-block .price {
	color: #dfc691;
	font-family: 'Playfair Display Regular';
	letter-spacing: 2px;
	padding-top: 0.4rem;
	font-size: 1.25rem;
}
.main-page .breakfast .left .text-block .price:before {
	font-family: 'Lora Regular';
	content: "$";
}
.main-page .breakfast .right {
	height: 100%;
	background-color: #f3f1e9;
	padding: 0;
	position: relative;
	color: #fff;
}
.main-page .breakfast .right .menu {
	border: 1px dashed #9e9c93;
	margin: 10px;
	border-image-slice: 1 1 1 1 fill;
	border-image-width: 1px 1px 1px 1px;
	border-image-outset: 0px 0px 0px 0px;
	border-image-repeat: round round;
	border-image-source: url("../img/border-image.png");
	padding: 1.8rem 1rem 1rem 1rem;
	color: #56534c;
}
.main-page .breakfast .right .menu .est {
	font-family: 'Lora Bold';
	font-size: 0.6rem;
}
.main-page .breakfast .right .menu .title {
	font-size: 1.8rem;
}
.main-page .breakfast .right .menu p {
	font-size: 0.8rem;
	padding-top: 1rem;
}
.main-page .breakfast .right .menu .bagel-line {
	position: relative;
	background-image: url("../img/bagel-line.png");
	background-size: contain;
	background-repeat: no-repeat;
	height: 60px;
	margin: 1rem 0 0 0;
}
.main-page .breakfast .right .menu .bagel-line img {
	position: absolute;
	right: 44.5%;
	top: 19%;
	width: 11%;
}
.main-page .breakfast .right .menu .btn-read {
	border: 1px solid #9e9c93;
	color: #a47d5e;
	font-family: 'Lora Bold';
	text-transform: uppercase;
	width: 55%;
	font-size: 0.8rem;
	padding: 0.5rem;
	margin: 0.4rem auto 1.2rem auto;
	transition: all 0.2s ease-in-out;
	outline: none;
}
.main-page .breakfast .right .menu .btn-read:hover {
	/*background-color: rgba(158,156,147,0.12);*/
	color: #56534c;
	border-color: #56534c;
}
.main-page .breakfast .right .menu:after {
	content: "";
	position: absolute;
	background-image: url("../img/bg-wheat.png");
	background-size: 200%;
	height: 25%;
	width: 38%;
	bottom: 0;
	right: 0;
}
/*The Jibarito sandwich*/
.main-page .jibarito-sandwich {
	background-color: #f3f1e9;
	padding: 0.5rem 0;
}
.main-page .jibarito-sandwich .container {
	position: relative;
}
.main-page .jibarito-sandwich .container:before {
	content: "";
	position: absolute;
	background-image: url("../img/bg-windmill-tiny.png");
	background-repeat: no-repeat;
	background-size: contain;
	height: 100px;
	width: 90px;
	top: 0;
	left: calc(50% - 1.95vw - 15px);
	z-index: 0;
}
.main-page .jibarito-sandwich .title {
	position: relative;
	letter-spacing: 1px;
	line-height: 2rem;
	padding-top: 5rem;
	z-index: 1;
}
.main-page .jibarito-sandwich .afterword {
	position: relative;
	letter-spacing: 1px;
	font-size: 0.8rem;
}
.main-page .jibarito-sandwich .ingredients .item {
	padding-bottom: 5vh;
	letter-spacing: 0.5px;
}
.main-page .jibarito-sandwich .ingredients .item img {
	width: 7vw;
	height: 7vw;
	border-radius: 50%;
	object-fit: cover;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.054);
}
.main-page .jibarito-sandwich .ingredients .item .subtitle {
	font-size: 1.5rem;
	padding: 1rem;
	color: #a47d5e;
	line-height: 2rem;
}
.main-page .jibarito-sandwich .ingredients .item p {
	padding: 0;
	line-height: 1rem;
	color: #56534c;
	font-size: 0.85rem;
}
.main-page .jibarito-sandwich .recipe {
	margin-top: 7%;
}
.main-page .jibarito-sandwich .recipe .wrapper {
	position: relative;
	border: 10px solid white;
	width: 100%;
	box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.054);
	padding: 0;
	overflow-y: visible;
}
.main-page .jibarito-sandwich .recipe .photo {
	overflow: hidden;
}
.main-page .jibarito-sandwich .recipe .photo img {
	width: 110%;
	object-fit: cover;
}
.main-page .jibarito-sandwich .recipe .info {
	position: absolute;
	top: -5.5%;
	right: 0;
	width: 25%;
	font-family: 'Lora Bold';
	letter-spacing: 1px;
	height: 111%;
	line-height: 2rem;
}
.main-page .jibarito-sandwich .recipe .info .item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: rgba(255, 255, 255, 0.82);
	margin-top: 1px;
	height: 34%;
}
.main-page .jibarito-sandwich .recipe .info .item .action {
	text-transform: uppercase;
	color: #a47d5e;
	font-size: 0.9em;
}
.main-page .jibarito-sandwich .recipe .info .item .amount {
	font-size: 2.5em;
	font-family: 'Playfair Display Bold';
}
.main-page .jibarito-sandwich .recipe .info .item .mins {
	font-size: 0.8em;
	color: #979285;
}
.main-page .jibarito-sandwich .recipe .info .ready-in {
	bottom: 0;
	right: 0;
	top: initial;
	width: 100%;
	height: 32%;
}
.main-page .jibarito-sandwich .recipe .full-recipe {
	position: absolute;
	left: -5%;
	bottom: -5%;
	background-color: white;
	height: 50px;
	border: 1px dashed #dfc691;
	color: #dfc691;
	text-transform: uppercase;
	font-family: 'Lora Bold';
	font-size: 0.8rem;
	line-height: 0px;
	padding: 0.8rem 1.2rem;
	letter-spacing: 0.4px;
	outline: none;
	transition: all 0.2s ease-in-out;
}
.main-page .jibarito-sandwich .recipe .full-recipe:hover {
	color: #a47d5e;
	border-color: #a47d5e;
}
@media screen and (max-width: 767px) {
	.main-page .jibarito-sandwich .ingredients .item {
		margin-top: 1.5rem;
	}
	.main-page .jibarito-sandwich .ingredients .item img {
		width: 40vw;
		height: 40vw;
	}
	.main-page .jibarito-sandwich .ingredients .item p {
		font-size: 0.9rem;
	}
	.main-page .jibarito-sandwich .ingredients .item .subtitle {
		padding: 0.5rem;
	}
	.main-page .jibarito-sandwich .recipe .wrapper {
		border: none;
	}
	.main-page .jibarito-sandwich .recipe {
		padding: 0;
	}
	.main-page .jibarito-sandwich .recipe .info .item {
		line-height: 5.3vw;
		padding: 3vw;
	}
	.main-page .jibarito-sandwich .recipe .info .item .action {
		font-size: 2.5vw;
	}
	.main-page .jibarito-sandwich .recipe .info .item .amount {
		font-size: 8vw;
		padding-bottom: 2vw;
	}
	.main-page .jibarito-sandwich .recipe .full-recipe {
		left: 0px;
	}
}
/* footer */
footer {
	background-color: #f3f1e9;
}

footer .navbar {
	background-color: #f3f1e9;
	letter-spacing: 3px;
}
footer .navbar a {
	color: #56534c;
}
footer .navbar .container {
	flex-direction: row;
}
footer .navbar .navbar-nav {
	display: flex;
	justify-content: space-around;
	border-top: 1px solid rgba(194, 190, 186, 0.72);
	border-bottom: 1px solid rgba(194, 190, 186, 0.62);
	flex-grow: 1;
	line-height: 55px;
	flex-direction: row;
}
footer .navbar .navbar-nav .nav-item {
	
}
footer .navbar-brand {
	flex-grow: 3;
}
footer .navbar .navbar-toggler-icon svg path {
	stroke: #000;
}
@media screen and (max-width: 767px) {
	footer .navbar, footer .navbar .container {
		padding: 0;
	}
	footer .navbar .navbar-nav {
		flex-direction: row;
		letter-spacing: 1px;
		justify-content: space-between;
		line-height: 20px;
		padding: 0px 30px;
	}
	footer .navbar .navbar-nav li {
		margin-right: 20px;
	}
	footer .navbar .navbar-nav li:last-child {
		margin-right: 0;
	}
	footer .navbar .navbar-nav:first-child {
		border-bottom: none;
		padding-top: 20px;
	}
	footer .navbar .navbar-nav:last-child {
		border-top: none;
		border-bottom: none;
	}
}
